<center>
  <h1><%= "#{current_user.first_name}'s Admin Dashboard" %></h1>

  <%= link_to 'All Recipes', recipes_path %>
  </br>
  <%= link_to 'All Users', admin_users_path%>
  </br>
  <%= link_to 'Add new user', new_admin_user_path%>

</center>

<h2><strong> Recipe Index </strong></h2>

<% @recipes.each do |recipe| %>
  <ul>
    <li><strong> <%= link_to recipe.name, recipe_path(recipe.id) %> </strong></li>
    <%= link_to 'Edit', edit_recipe_path(recipe.id) %>
    |
    <%= link_to 'Delete', recipe_path(recipe.id), method: :delete, confirm: "Are you sure?" %>
  </ul>
  </br>
<% end %>


<h2><strong> User index </strong></h2>

  <% @users.each do |user| %>
    <ul>
      <li><strong> <%= link_to user.first_name, admin_user_path(user.id) %> </strong></li>
      <%= link_to 'Edit', edit_admin_user_path(user.id) %>
        |
      <%= link_to 'Delete', admin_user_path(user.id), method: :delete, confirm: "Are you sure?" %>
    </ul>
  <% end %>
    